body{
    font-family: 'Roboto', sans-serif;
    background-color:aquamarine;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
}

#board{
    height: 500px;
    width: 500px;
    border: 5px solid black;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    gap: 0px;
}

.ui{
    display: flex;
    flex-direction: column;
    
}

.pixel {
    flex: 1;
  }

