body{
    font-family: 'Roboto', sans-serif;
    background-color:aquamarine;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
}

#board{
    height: 500px;
    width: 500px;
    border: 5px solid black;
    display: grid;
}

.ui{
    display: flex;
    flex-direction: column;
}

